<div class="row py-2 d-flex justify-content-center">Staff Registration!</div>
<hr />
<div class="row py-2">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("RegisterStaff", "Admin")">Aadhar Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ProcessPendingApplication", "Admin")">Process Citizen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("RegisterPincode", "Admin")">PinCode Master</a>
        </li>

    </ul>
</div>
<hr />
<div class="row py-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Previous", "Admin")">Back</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Logout", "Home")">Logout</a>
        </li>
    </ul>
</div>
