@model AadharSecureTravelIdentity.Models.UserViewModel

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="row py-1">
        <div class="col">Select User</div>
        <div class="col">@Html.DropDownListFor(user => user.AadharUser.UserType,
        new SelectList(Enum.GetValues(typeof(ASTI_Helper.UserType))))
        </div>
    </div>
    <div class="row py-1">
        <div class="col">@Html.LabelFor(user => user.AadharUser.UserName)</div>
        <div class="col">@Html.TextBoxFor(user => user.AadharUser.UserName)</div>
    </div>
    <div class="row py-1">
        <div class="col">@Html.LabelFor(user => user.AadharUser.Password)</div>
        <div class="col">@Html.PasswordFor(user => user.AadharUser.Password)</div>
    </div>
    <div class="row py-1">
        <div class="col-3">
            <input type="submit" value="Login" />
        </div>
        <div class="col-3">
            <input type="reset" value="Clear" id="btnReset" />
        </div>
    </div>
}