@model AadharSecureTravelIdentity.Models.UserViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row ml-0 font-weight-bold">CHANGE PASSWORD</div>
        <hr />

        @if (ViewBag.IsPasswordChanged != null && (bool)ViewBag.IsPasswordChanged)
        {
            <div class="row py-1">
                <div class="col">Password successfully changed</div>
            </div>
        }
        else
        {
            <div class="row py-1">
                <div class="col">@Html.LabelFor(user => user.Password)</div>
                <div class="col">@Html.PasswordFor(user => user.Password)</div>
                <div class="col text-danger">@Html.ValidationMessageFor(user => user.Password)</div>
            </div>
            <div class="row py-1">
                <div class="col">@Html.LabelFor(user => user.ConfirmPassword)</div>
                <div class="col">@Html.PasswordFor(user => user.ConfirmPassword)</div>
                <div class="col text-danger">@Html.ValidationMessageFor(user => user.ConfirmPassword)</div>
            </div>
            <div class="row py-1">
                <div class="col-3">
                    <input type="submit" value="Submit" />
                </div>
            </div>
        }
    </div>
}